<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AppiumTestin">
<!--    <groups>-->
<!--        <run>-->
<!--            <include name="smoke"/>-->
<!--        </run>-->
<!--    </groups>-->
<!--    <listeners>-->
<!--        <listener class-name="IOS.Configurations.ListenersIOS"/>-->
<!--    </listeners>-->
    <test name="Androidtesting">
        <classes>
<!--            <class name="Android.GeneralStore.FillFormTest"/>-->
<!--            <class name="Android.GeneralStore.Order1ProductTest"/>-->
<!--            <class name="Android.GeneralStore.CheckErrorToastTest"/>-->
<!--            <class name="Android.GeneralStore.CheckTheSumOnCartTest"/>-->
        </classes>
    </test>
</suite>