<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AppiumTesting">
    <test name="IOStesting">
<!--        <groups>-->
<!--            <define name="smoke"/>-->
<!--        </groups>-->
        <classes>
            <class name="Ios.IosBasicTest"/>
            <class name="Ios.Gestures.IOSScrollTest"/>
            <class name="Ios.Gestures.IOSSwipe"/>
            <class name="Ios.Gestures.IOSlongPress"/>
        </classes>
    </test>
</suite>